/* Description: Master CSS file */

/*****************************************
Table Of Contents:
- General Styles
- Navigation
- Header
- Customers
- Services
- Details 1
- Details Modal
- Details 2
- Pricing
- Registration
- Video
- Video Modal
- Testimonials
- Team
- Contact
- Footer
- Copyright
- Back To Top Button
- Extra Pages
- Media Queries
******************************************/

/*****************************************
Colors:
- Backgrounds - light gray #f7fcfd
- Buttons, icons, bullets - blue #00bfd8
- Headings text - black #32373e
- Body text - dark gray #5d636b
******************************************/




/*****************/
/*     Team     */
/*****************/
.cards-3 {
	padding-top: 7rem;
	padding-bottom: 3.5rem;
	text-align: center;
}

.cards-3 .h2-heading {
	margin-bottom: 0.75rem;
}

.cards-3 .p-heading {
	margin-bottom: 3.75rem;
}

.cards-3 .card {
	max-width: 190px;
	margin-right: auto;
	margin-bottom: 4rem;
	margin-left: auto;
	border: none;
}

.cards-3 .card-image {
	margin-bottom: 1.5rem;
}

.cards-3 .card-image img {
	border-radius: 50%;
}

.cards-3 .card-body {
	padding: 3;
}

.cards-3 .card-title {
	margin-bottom: 0.125rem;
}

.cards-3 .fa-stack {
	width: 1.75rem;
	height: 1.75rem;
	margin-right: 0.125rem;
	margin-left: 0.125rem;
	line-height: 1.75rem;
}

.cards-3 .fa-stack .fa-stack-2x {
	font-size: 1.75rem;
}

.cards-3 .fa-stack .fa-stack-2x,
.cards-3 .fa-stack .fa-stack-1x {
	width: 1.75rem;
	height: 1.75rem;
}

.cards-3 .fa-circle {
	color: #00bfd8;
	transition: all 0.2s ease;
}

.cards-3 .fab {
	color: #ffffff;
}

.cards-3 .fa-stack:hover .fa-circle {
	color: #ffffff;
}

.cards-3 .fa-stack:hover .fab {
	color: #00bfd8;
}


/*******************/
/*     Contact     */
/*******************/
.form-2 {
	position: relative;
	padding-top: 7.5rem;
	padding-bottom: 8rem;
}

.form-2 .decoration {
	display: none;
}

.form-2 .h2-heading,
.form-2 .p-heading,
.form-2 .list-unstyled {
	text-align: center;
}

.form-2 .h2-heading {
	margin-bottom: 0.75rem;
}

.form-2 .p-heading {
	margin-bottom: 0.375rem;
}

.form-2 .list-unstyled {
	margin-bottom: 3.75rem;
}



.form-2 .map-responsive {
	position: relative;
	overflow: hidden;
	height: 0;
	margin-bottom: 4rem;
	padding-bottom: 70%;
	border-radius: 8px;
}

.form-2 .map-responsive iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: none; 
}


/******************/
/*     Footer     */
/******************/


.footer a {
	text-decoration: none;
}

.footer .footer-col {
	margin-bottom: 3rem;
}



.footer .li-space-lg li {
	margin-bottom: 0.375rem;
}

.footer .footer-col.third .fa-stack {
	width: 2em;
	margin-bottom: 1.25rem;
	margin-right: 0.375rem;
	font-size: 1.375rem;
}




/*********************/
/*     Copyright     */
/*********************/
.copyright {
	padding-bottom: 1rem;
	text-align: center;
}



/******************************/
/*     Back To Top Button     */
/******************************/
#myBtn {
	position: fixed; 
  	z-index: 99; 
	bottom: 20px; 
	right: 20px; 
	display: none; 
	width: 52px;
	height: 52px;
	border: none; 
	border-radius: 50%; 
	outline: none; 

	cursor: pointer; 
}



#myBtn img {
	margin-bottom: 0.25rem;
	width: 18px;
}


/***********************/
/*     Extra Pages     */
/***********************/


.ex-cards-1 .card {
	border: none;
	background-color: transparent;
}

.ex-cards-1 .card .fa-stack {
	width: 2em;
	font-size: 1.125rem;
}



.ex-cards-1 .card .list-unstyled .flex-grow-1 {
	margin-left: 2.25rem;
}

.ex-cards-1 .card .list-unstyled .flex-grow-1 h5 {
	margin-top: 0.125rem;
	margin-bottom: 0.5rem;
}


/*************************/
/*     Media Queries     */
/*************************/	
/* Min-width 768px */
@media (min-width: 768px) {

	/* Header */
	.header {
		padding-top: 9.5rem;
	}
	/* end of header */


	/* Customers */
	.slider-1 .slider-container {
		padding-right: 3.5rem;
		padding-left: 3.5rem;
	}
	/* end of customers */


	/* Contact */
	.form-2 .list-unstyled li {
		display: inline-block;
		margin-right: 1rem;
	}
	/* end of contact */


	/* Extra Pages */
	.ex-basic-1 .text-box {
		padding: 1.75rem 2rem 0.875rem 2rem;
	}
	/* end of extra pages */
}
/* end of min-width 768px */


/* Min-width 992px */
@media (min-width: 992px) {
	
	/* General Styles */
	.h2-heading {
		width: 35.25rem;
		margin-right: auto;
		margin-left: auto;
	}

	.p-heading {
		width: 40rem;
		margin-right: auto;
		margin-left: auto;
	}

	/* Stops body and navbar shift on modal open */
	body.modal-open {
		overflow-y: scroll !important;
		padding-right: 0 !important;
	}
	
	body.modal-open .navbar {
		padding-right: 0 !important;
	}
	/* end of stops body and navbar shift on modal open */
	
	.modal {
		padding-right: 0 !important;
	}
	
	.modal-dialog {
		margin-right: auto;
		margin-left: auto;
	}
	/* end of general styles */


	/* Navigation */
	.navbar {
		padding-top: 1.75rem;
		background-color: transparent;
		box-shadow: none;
		transition: all 0.2s;
	}

	.navbar.extra-page {
		padding-top: 0.5rem;
	}

	
	.offcanvas-collapse {
		position: static;
		top: auto;
		bottom: auto;
		left: auto;
		width: auto;
		padding-right: 0;
		padding-left: 0;
		background-color: transparent;
		overflow-y: visible;
		visibility: visible;
	}

	.offcanvas-collapse.open {
		-webkit-transform: none;
		transform: none;
	}

	.navbar .navbar-nav {
		margin-top: 0;
		margin-bottom: 0;
	}



	.navbar .dropdown-menu {
		padding-top: 0.75rem;
		padding-bottom: 0.75rem;
		box-shadow: 0 3px 3px 1px rgba(0, 0, 0, 0.08);
	}

	.navbar .dropdown-divider {
		width: 90%;
	}

	.navbar .social-icons {
		margin-left: 0.5rem;
	}
	
	.navbar .fa-stack {
		margin-right: 0;
		margin-left: 0.25rem;
	}
	/* end of navigation */


	/* Header */
	.header {
		background-position: center;
		text-align: left;
	}

	.h1-large {
		font-size: 3rem;
		line-height: 3.75rem;
	}

	.header .text-container {
		margin-bottom: 0;
	}
	/* end of header */


	/* Services */
	.cards-1 .card {
		display: inline-block;
		max-width: 100%;
		width: 302px;
		vertical-align: top;
	}

	.cards-1 .card:nth-of-type(3n+2) {
		margin-right: 0.375rem;
		margin-left: 0.375rem;
	}
	/* end of services */


	/* Details 1 */
	.basic-1 .text-container {
		margin-top: 1.875rem;
		margin-bottom: 0;
	}

	.basic-1 h2 {
		width: 24.375rem;
	}
	/* end of details 1 */


	/* Details Modal */
	.details-modal .modal-dialog {
		margin-top: 8%;
	}

	.details-modal .modal-content .image-container {
		margin-bottom: 0;
	}
	/* end of details modal */


	/* Details 2 */
	.basic-2 .image-container {
		margin-bottom: 0;
	}

	.basic-2 .text-container {
		margin-top: 2rem;
	}

	.basic-2 h2 {
		width: 24.375rem;
	}
	/* end of details 2 */


	/* Pricing */
	.cards-2 .card {
		display: inline-block;
		max-width: 100%;
		width: 302px;
		vertical-align: top;
	}

	.cards-2 .card:nth-of-type(3n+2) {
		margin-right: 0.375rem;
		margin-left: 0.375rem;
	}
	/* end of pricing */


	/* Registration */
	.form-1 .text-container {
		margin-top: 2.625rem;
		margin-bottom: 0;
	}

	.form-1 h2 {
		width: 24rem;
	}
	/* end of registration */


	/* Video */
	.basic-3 .image-container {
		max-width: 930px;
		margin-right: auto;
		margin-left: auto;
	}
	/* end of video */
	
	
	/* Video Modal */
	.video-modal .modal-dialog {
		margin-top: 7%;
	}
	/* end of video modal */


	/* Testimonials */
	.slider-2 .image-container {
		margin-bottom: 0;
	}

	.slider-2 .swiper-container {
		width: 82%;
	}

	.slider-2 .swiper-button-prev {
		left: 16px;
		width: 22px;
		background-size: 22px 34px;
	}
	
	.slider-2 .swiper-button-next {
		right: 16px;
		width: 22px;
		background-size: 22px 34px;
	}
	/* end of testimonials */


	/* Team */
	.cards-3 .card {
		display: inline-block;
		max-width: 100%;
		width: 190px;
		vertical-align: top;
	}

	.cards-3 .card:nth-of-type(4n+2) {
		margin-right: 1rem;
		margin-left: 2rem;
	}

	.cards-3 .card:nth-of-type(4n+3) {
		margin-right: 2rem;
		margin-left: 1rem;
	}
	/* end of team */


	/* Contact */
	.form-2 .map-responsive {
		margin-bottom: 0;
	}
	/* end of contact */


	/* Footer */
	.footer .footer-col {
		margin-bottom: 2rem;
	}

	.footer .footer-col.first {
		display: inline-block;
		width: 320px;
		margin-right: 1.75rem;
		vertical-align: top;
	}
	
	.footer .footer-col.second {
		display: inline-block;
		width: 320px;
		margin-right: 1.75rem;
		vertical-align: top;
	}
	
	.footer .footer-col.third {
		display: inline-block;
		width: 224px;
		text-align: right;
		vertical-align: top;
	}

	.footer .footer-col.third .fa-stack {
		margin-right: 0;
		margin-left: 0.375rem;
	}
	/* end of footer */


	/* Extra Pages */
	.ex-cards-1 .card {
		display: inline-block;
		width: 296px;
		vertical-align: top;
	}

	.ex-cards-1 .card:nth-of-type(3n+2) {
		margin-right: 1rem;
		margin-left: 1rem;
	}
	/* end of extra pages */
}
/* end of min-width 992px */


/* Min-width 1200px */
@media (min-width: 1200px) {
	
	/* General Styles */
	.container {
		max-width: 1140px;
	}
	/* end of general styles */
	

	/* Navigation */
	.navbar .container {
		max-width: 100%;
		padding-right: 2.5rem;
		padding-left: 2.5rem;
	}
	/* end of navigation */


	/* Header */
	.header {
		padding-top: 12.5rem;
		padding-bottom: 7rem;
	}

	.header .text-container {
		margin-top: 3.5rem;
		margin-right: 4.75rem;
	}
	/* end of header */


	/* Customers */
	.slider-1 .slider-container {
		padding-right: 2.5rem;
		padding-left: 2.5rem;
	}
	/* end of customers */


	/* Services */
	.cards-1 .card {
		width: 330px;
	}

	.cards-1 .card:nth-of-type(3n+2) {
		margin-right: 3.375rem;
		margin-left: 3.375rem;
	}
	/* end of services */


	/* Details 1 */
	.basic-1 .text-container {
		margin-top: 4.875rem;
		margin-right: 5.5rem;
	}
	/* end of details 1 */


	/* Details Modal */
	.details-modal .modal-content {
		padding-right: 2rem;
		padding-left: 2rem;
	}
	/* end of details modal */


	/* Details 2 */
	.basic-2 .text-container {
		margin-top: 4.25rem;
		margin-left: 5.5rem;
	}
	/* end of details 2 */


	/* Pricing */
	.cards-2 .card {
		width: 330px;
	}

	.cards-2 .card:nth-of-type(3n+2) {
		margin-right: 3.375rem;
		margin-left: 3.375rem;
	}
	/* end of pricing */


	/* Registration */
	.form-1 .text-container {
		margin-right: 4rem;
	}

	.form-1 form {
		margin-left: 4rem;
	}
	/* end of registration */


	/* Testimonials */
	.slider-2 h2 {
		margin-top: 3.5rem;
		margin-left: 3.25rem;
	}

	.slider-2 .slider-container {
		width: 90%;
		margin-right: 0;
		margin-left: auto;
	}
	/* end of testimonials */


	/* Team */
	.cards-3 .card:nth-of-type(4n+2) {
		margin-right: 1.2rem;
		margin-left: 2.2rem;
	}

	.cards-3 .card:nth-of-type(4n+2) {
		margin-right: 1.2rem;
		margin-left: 2.2rem;
	}
	/* end of team */


	/* Contact */
	.form-2 {
		overflow: hidden;
	}
	
	.form-2 .map-responsive {
		margin-right: 1.25rem;
		padding-bottom: 83%;
	}

	.form-2 form {
		margin-left: 1.25rem;
	}

	.form-2 .decoration {
		display: block;
		position: absolute;
		top: 170px;
		right: -460px;
		width: 600px;
	}
	/* end of contact */


	/* Footer */
	.footer .footer-col.first {
		width: 352px;
		margin-right: 6rem;
	}
	
	.footer .footer-col.second {
		margin-right: 6.5rem;
	}
	
	.footer .footer-col.third {
		text-align: right;
	}
	/* end of footer */


	/* Extra Pages */
	.ex-cards-1 .card {
		width: 336px;
	}

	.ex-cards-1 .card:nth-of-type(3n+2) {
		margin-right: 2.875rem;
		margin-left: 2.875rem;
	}
	/* end of extra pages */
}
/* end of min-width 1200px */